.h-screen { height: 100vh; }
.toolbar { position: sticky; top: 0; z-index: 2; }
.page { height: calc(100vh - 64px); overflow: auto; padding: 16px; } /* 56px en móvil */

mat-sidenav { background: #fff; }

/* deja que mida automáticamente */
.autoslider {
  width: auto;
  max-width: 90vw;
  min-width: 0;
  white-space: nowrap;
}

